Source: switchfin
Section: video
Priority: optional
Maintainer: ankio <ankio@ankio.net>
Build-Depends: debhelper (>= 10),
               cmake,
               ninja-build,
               xorg-dev,
               libdbus-1-dev,
               libwebp-dev,
               libmupdf-dev,
               libopenjp2-7-dev,
               libjbig2dec0-dev,
               libgumbo-dev,
               libmpv-dev
Vcs-Git: https://github.com/AnkioTomas/switchfin-emby.git

Package: switchfin
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Recommends: va-driver-all
Description: Third-party native Emby client
